// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Text Color
$light-text: #e4c6c6;

$light-text-2: #f7f7f7;

// Gray Background
$bg-gray: #f2f4f5;

$bg-light-gray: $light-text-2;

// Primary Color
$primary: #0093c9;

// White Color
$white: #ffffff;

// Dark Color
$dark: #0f1112;

// Border Color
$border: #e1e1e1;

// Hover Color
$hover: #77b122;

// Footer Color
$footer: #191c1d;

// Secondary Color
$secondary: #595959;

// Third Color
$third: #2645c2;

$light-blue: #ccd5f7;
