$height: 50em;
$img-block1-size: $height/2;

@mixin block-text-behaviour($font-size-text, $color) {
  float: right;
  font-size: $font-size-text;
  color: $color;
}

.block-1 {
  display: flex;
  height: $height;
  // padding: $height/2.5 0 0 0;
  // font-weight: 600;
  // font-size: 2.5em;
  margin-bottom: 0.1rem;
  justify-content: left;

  .img-block-1 {
    margin: $height - 40;
    opacity: 0.9;
    height: $img-block1-size;
    width: $img-block1-size;
  }

  // @media #{$breakpoint-md} {
  // }
  @media #{$breakpoint-xs} {
    .img-block-1 {
      height: $img-block1-size - 7;
      margin: ($height - 40) 0 0 0;
    }
  }
  // @media #{$breakpoint-xl} {
  // }
}

.block-2 {
  display: flex;
  height: $height;

  .circle {
    // height: 1;
    padding: 1em 0 0 3em;
    font-size: 10em;
    color: $white;
  }
}

.block-3 {
  display: flex;
  height: $height;
  justify-content: flex-end;


  .text-block-3 {
    @include block-text-behaviour(2.5em, $white);
  }

  .text-1-block-3 {
    @include block-text-behaviour(4.5em, $light-blue);
    text-transform: uppercase;
  }

  .container--block-3 {
    padding: 10em 0 0 0;
  }

  @media #{$breakpoint-md} {
    .text-block-3 {
      @include block-text-behaviour(2em, $white);
    }

    .text-1-block-3 {
      @include block-text-behaviour(3em, $light-blue);
    }
  }

  @media #{$breakpoint-xs} {
    .text-block-3 {
      @include block-text-behaviour(1.5em, $white);
    }

    .text-1-block-3 {
      @include block-text-behaviour(2.5em, $light-blue);
    }
  }
}

.block-4 {
  display: flex;
  height: $height;
}
