$height: 4.5em;

.blockquote {
  display: flex;
  height: $height;
  padding: $height/5 0 0 0;
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom: 0.1rem;
  text-align: center;
  justify-content: center;

  @media #{$breakpoint-md} {
    font-size: 2em;
  }

  @media #{$breakpoint-xs} {
    height: $height + 5;
    padding: $height/2 0 0 0;
    font-size: 1.4em;
  }
  // @media #{$breakpoint-xl} {
  // }
}
