.header-area {
  width: auto;
  background-color: $primary;
}

.logo-sissacc {
  padding: 1em;
  margin: 0.5em 0 0 2em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primary;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $light-text;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sissacc-menu {
  overflow: hidden;
  float: right;
  margin: 0.5em 0 0 0;

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }

  a.active {
    background-color: #4CAF50;
    color: white;
  }

  .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .sissacc-menu {
      overflow: hidden;
    }

    .sissacc-menu a {display: none;}
    .sissacc-menu a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .sissacc-menu.responsive {position: relative;}
    .sissacc-menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .sissacc-menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}

@media (max-width: 575.98px) {
  .logo-sissacc {
    margin: 1em 0 0 0;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
