h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts;
  color: $heading;
  line-height: 1.3;
  font-weight: 700;
}

p {
  font-family: $fonts;
  color: $text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

a,
a:focus,
a:hover {
  @include transition-duration(500ms);
  text-decoration: none;
  outline: 0 solid transparent;
  color: $text;
  font-weight: 700;
  font-size: 14px;
  font-family: $fonts;
}

img {
  height: auto;
  max-width: 100%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: $white !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-gray {
  background-color: $bg-gray;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;

  &::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}

.bg-fixed {
  background-attachment: fixed !important;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
